/Restaurant.Business/obj/Debug/net5.0
/Restaurant.Business/obj
/Restaurant.Database/obj/Debug/net5.0
/Restaurant.Database/obj
/Restaurant.Test/obj/Debug/net5.0
/Restaurant.Test/obj
/Restaurant/obj/Debug/net5.0
/Restaurant/obj
